@model FinalYearProject.Models.BugReport

@{
    ViewBag.Title = "Index";
}

<h2>Your Bugs</h2>

<div id="tableDiv"></div>
<div id="bugReportCreateForm">
    @using (Ajax.BeginForm("AJAXCreate", "BugReports",
                new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "POST",
                    UpdateTargetId = "tableDiv"

                }))
    {
        <div class="form-group">
            @Html.AntiForgeryToken()
            @Html.LabelFor(model => model.BugDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BugDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BugDescription, "", new { @class = "text-danger" })
            </div>
        </div>
    }
</div>
@section Scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Custom Scripts/BuildTable.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    }